import { FunctionComponent } from 'react';

type Props = {
};

const {{pascalCase name}}: FunctionComponent<Props> = (props) => {

    return (
        <div>
            {{pascalCase name}}
        </div>
    );
} 

export default {{pascalCase name}};